[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BVARverse"]
	path = BVARverse
	url = https://github.com/nk027/bvarverse
	shallow = true
	registered = true
[submodule "sanic"]
	path = sanic
	url = https://github.com/nk027/sanic
	shallow = true
	registered = true
[submodule "BVAR"]
	path = BVAR
	url = https://github.com/nk027/bvar
	shallow = true
	registered = true
